$color1: #ffbfbf;
$color2: #8a8888;
$color3: #e8efff;
$color4: #3477ff;
$color5: #e0e7f5;
$color6: #fff;
$color7: #030f62;

$text1: 'Barlow Condensed', sans-serif;
$text2: 'Roboto', sans-serif;
$text3: cursive;